@using Project.ENTITY.Concrete
@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<style>
    .dropdown-item:hover, .dropdown-item:focus {
        color: lightgrey;
        text-decoration: none;
        background-color: #13151b;
    }
</style>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="name">#</th>
                                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>
                                        @item.ServiceID
                                    </th>
                                    <th>
                                        @item.Title
                                    </th>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" href="/Service/DeleteService/@item.ServiceID">Sil</a>
                                                <a class="dropdown-item" href="/Service/EditService/@item.ServiceID">Güncelle</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<a href="/Service/AddService/" class="btn btn-outline-primary">Yeni Hizmet Ekle</a>



