<head>
  <title>Yıldız Medya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 Website">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Taha Öztürk">
  <link rel="stylesheet" href="~/tasarım/assets/css/main.css">
</head>