<nav class="l-side-nav">
    <ul class="side-nav">
        <li class="is-active"><span>Yıldız Medya</span></li>
        <li><span>Çalışmalar</span></li>
        <li><span>Hakkımızda</span></li>
        <li><span>İletişim</span></li>
        <li><span>Bizimle çalışın</span></li>
    </ul>
</nav>
