@model Project.UI.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgilerini Düzenle</h4>
            <br />
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Adınız</label>
                    <input type="text" class="form-control" id="Name" asp-for="@Model.Name" placeholder="Ad">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Soyadınız</label>
                    <input type="text" class="form-control" id="Surname" asp-for="@Model.Surname" placeholder="Soyad">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifreniz</label>
                    <input type="password" asp-for="Password" class="form-control" id="Password" placeholder="Şifre">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifrenizi Tekrar Girin</label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control" id="Password" placeholder="Şifrenizi tekrar girin">
                </div>
                <div class="form-group">
                    <label>Fotoğraf Yükleyin</label>
                    <br />
                    <input type="file" asp-for="@Model.Picture">
                </div>
                <br />
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>